{% extends "apptienda/layout.html" %}
{% block content %}

    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-center">
            <h1 class="text-center mx-auto mt-3">Jaguarete KAA S.A.</h1>
            <div class="imagen_acerca mx-auto"></div>
        </div>
        <div class="mt-3">
            <p>Nunc in risus ac nulla fringilla ultricies et quis nisl. Maecenas tincidunt nisl vitae lorem fringilla,
                id varius odio tempor. Integer nec quam ac eros dapibus blandit nec in arcu. Suspendisse lobortis eu
                nisl ut tempus. Aliquam erat volutpat. Quisque ullamcorper sit amet velit quis hendrerit. Vivamus
                ullamcorper nisi sit amet ante fermentum, sit amet interdum quam hendrerit. Donec in bibendum eros.
                Maecenas volutpat auctor ex vitae posuere. Morbi aliquet vulputate ligula, a placerat nunc pellentesque
                ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed rhoncus
                maximus maximus. Maecenas pulvinar libero nec nisi tincidunt, non volutpat ipsum cursus. Aliquam
                hendrerit risus imperdiet mauris molestie rutrum.
    
                Vivamus ultricies urna sed sem pellentesque efficitur. Aenean in lectus consectetur, sagittis risus sit
                amet, tempor diam. Mauris semper nunc malesuada metus vestibulum, ac dapibus leo porta.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt, dolor accumsan vestibulum
                auctor, felis massa lacinia sapien, ut luctus ipsum enim a mauris. Praesent iaculis nisi nunc, sit amet
                dapibus dui imperdiet placerat. Nam vitae nunc non eros ornare ullamcorper eget ac arcu. Ut luctus
                aliquet erat sed euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. Maecenas ut dignissim enim. Nunc vitae condimentum leo, eget bibendum orci. Curabitur
                blandit augue a elit feugiat scelerisque. Integer massa eros, porttitor sit amet feugiat a, volutpat
                dignissim elit.</p>
        </div>
        
    </div>

{% endblock %}