{% extends "apptienda/layout.html" %}
{% block content %}

<div class="container">
    <h2>Productos por nombre</h2>

    <div class="alert alert-info" role="alert">Resultados para "{{texto}}"</div>

    <div class="list-group">
        {% for un_producto in lista_productos %}

                <a href="{% url 'apptienda:producto' un_producto.id %}" class="list-group-item list-group-item-action">{{un_producto.titulo}}</a>               

        {% empty %}
            <li>No hay productos que coincidan con su búsqueda</li>       
        {% endfor %}
    </div>

    <a class="btn ptn-primary" href="{% url 'apptienda:index'%}">Volver</a>
 
</div>
{% endblock %}