{% extends "registration/layout.html" %}

{% block content %}

<div class="container d-flex flex-column align-items-center" id="formContent">

    <h3 class="mt-5 mb-5">Formulario para cambiar su clave</h3>
    <p>Debe ingresar el correo electrónico que usó al registrarse:</p>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}
        {{ form.email }}
        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    </form>

    <p><a href="{% url 'login' %}">Volver al Login</a></p>
</div>



{% endblock %}